.table-row {
  text-align: center;
}
.mu-table td {
  padding: 10px;
}
.text-center {
  text-align: center;
}
.mu-sub-header {
  text-align: left;
}
h1,h2,h3,h4,h5,h6{
  padding: 0;
  // margin: 0;
}
h1 {
  font-size: 96px;
  font-weight: 300;
}

h2 {
  font-size: 60px;
  font-weight: 300;
}

h3 {
  font-size: 48px;
  font-weight: 400;
}

h4 {
  font-size: 34px;
  font-weight: 400;
}

h5 {
  font-size: 24px;
  font-weight: 400;
}

h6 {
  font-size: 20px;
  font-weight: 500;
}

.sub-title-1 {
  font-size: 16px;
  font-weight: 400;
}

.sub-title-2 {
  font-size: 14px;
  font-weight: 500;
}
button {
  font-size: 14px;
  font-weight: 500;
}

.caption {
  font-size: 12px;
  font-weight: 400;
}
